<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="KeySelectedConnect" connectionString="localConnect"/>
		<add name="localTesting" connectionString="E:\VSprojects\ProjectForTest\AnyTest\DB\TestMethodRaid.db"/>
		<add name="localConnect" connectionString="E:\VSprojects\ProjectForTest\AnyTest\DB\MethodRaid.db"/>
	</connectionStrings>
</configuration>