@using MethodRaid.Domain.Models
@model IEnumerable<Client>


@{
    ViewBag.Title = "Index";
}


<div>@Html.ActionLink("Добавить пользователя", "NewClient")</div>

<h2>Список клиентов</h2>
@foreach (var item in Model)
{
    <div class="my-1">
        <a href="/client/upclient/@item.ClientId"><img src="~/Content/img/penc.png" /> @item.ClientName</a>
    </div>
}


